@import "ui-variables";
@import "ui-mixins";
@import "octicon-mixins";

.list-group,
.list-tree,
.select-list {
    > li,
    > li.list-item {
        font-size: @font-size;
        color: @text-color;
        padding: 0px 8px;

        &.selected:not(.list-nested-item) {
            color: #fff;
            background-color: @background-color-selected;
            border-radius: @component-border-radius;

            &:before {
                display: none;
            }

            > span:not(.highlight-info) {
                color: #fff;
            }

            > .status.icon {
                color: #fff;
            }

            > .secondary-line {
                color: #fff;
            }

            > .key-binding {
                color: @text-color;
            }
        }

        .secondary-line {
            color: lighten(@text-color-subtle, 10%);

        }
    }

    &.popover-list {
        background-color: @overlay-background-color;
        box-shadow: 0 0 10px @base-border-color;
        padding: @component-padding @component-padding/2 0px @component-padding !important;
        border-radius: @component-border-radius;
        border: 1px solid @overlay-border-color;
        li {
            padding: 0px 8px;
            margin-right: @component-padding/2;
            border-radius: @component-border-radius;
            &.selected:before {
                display:none;
            }
        }
    }
}
